/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

button {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none;
}
.yourstyle{

    color: #ff7300;
}
.title{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
h2,
h1 {

    margin: 15px;
    padding: 0px;
    font-family: sans-serif;
    animation: fade-in-from-top 0.5s;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    

.content{
    display: flex;
    width: 100%;
    padding: 20px;
    font-size: x-large;
    

}
.content-2{
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    animation: fade-in-from-top 0.5s;
}
.paragraph{
    display: flex;
    justify-content: center;
    color: #000000;
}



  
/* BASE STYLES */
.app {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #fffefe;
    height: 10vh;
    width: 100vw;

}


/* STYLES */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: rgb(255, 255, 255);
}

/* Keyframes */

@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.image{
    width: 20px;
    height: 20px;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle {
    color: rgba(0, 0, 0, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
}
.dd-toggle-1{
    color: rgba(0, 0, 0, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle,.dd-toggle-1:hover {
    color: #ff7300;
    background-color: rgba(255, 255, 255, 0.1);
}

.dd-toggle,.dd-toggle-1:focus {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.1);
}

.dd-toggle,:nth-of-type(4) {
    margin: auto;
}



